body{
  background-image:url('../images/back-ground.JPEG')
}
h1{
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
#mystuff{
  display: grid;
  grid-template-columns: 200px 100px;
  text-align: center;
  grid-template-rows: 90px 120px 100px 160px 100px;
  /* grid-row-gap: 100px; */
  /* grid-row-start: 2; */
  padding-top: 80px;
}

@media all and (min-width: 850px){
  #mystuff{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* text-align: center; */
    grid-template-rows: 200px 200px 200px 200px 200px;
    /* grid-row-gap: 200px; */
    /* grid-row-start: 2; */
    padding: 70px 0;
    align-self: center;

  }
  div:nth-child(2n){
  /* margin: auto; */
  /* width: 50%; */
  border: 3px solid black;
  /* padding: 10px; */

  }
}
